

<template name="checkemail">
 <h1>Please check your email</h1>
 <p>Once you verify you can do amazing things!</p>

</template>



<template name="verifyEmail">
	<div class="container">
		 
		<div class="account-form">
			<h2>
				Thank you for verifying your email address!
			</h2>
			<!-- <p>
				We've sent verification link to your e-mail address.
			</p> -->
			<br />			<!-- <button class="btn btn-lg btn-primary btn-block go-home" type="button" data-loading-text="Please wait...">
				OK
			</button> -->
		</div>
		
	</div>
</template>
