.jumbotron {
	text-align: center;
	color: white;
}

.jumbotron h1 {
	padding-top: 50px;
	font-size: 72px;
	font-weight: 700;
}

.jumbotron p a {
	color: yellow;
}

section {
	padding: 0 0 80px 0;
}

section.bg-blue {
	color: #fff;
	background-color: #337ab7;	
}

section h1 {
	padding-top: 80px;
	font-size: 48px;
	font-weight: 700;
}

section .large-icon {
	font-size: 72px;
}

i {
    font-size : 12px;
    padding-right: 10px;
    color: #aece61;
}


/* Footer */
.footer {
    position: relative;
    background-color: #343c37;
    color: #7d7975;
    padding: 95px 0 50px;
    font-size:16px;
}
.footer p {
    line-height:26px;
    color : #fff;
}
.footer h5 {
    font-size: 22px;
    font-weight: 700;
    color: #aece61  ;
    position: relative;
    padding-bottom: 16px;
}
.footer h5:after {
    content: '';
    display: block;
    margin: 5px 0 0;
    width: 40%;
    height: 1px;
    background-color: #1e1d22 ;
}

.footer ul {
    list-style: none;
    line-height:35px;
    margin: 0px;
    color:#fff;
    
}
.footer a {
    color:# ;
   
}
.footer a:hover {
    color: #aece61 ;
}

/* Footer Logo */
.foot-logo {
    margin: 0px 0px 18px 0px;
    padding: 0;
}

/*footer bottom */
.footer-bottom {
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 1px solid #2f2f33 ;
    background: #1e1d22  ;
    
}
.copyright-text p {
    color: #7d7975;
    margin-top: 18px;
    margin-bottom: 0;
    font-size:15px;
}

.copyright-text a {
    color: #7d7975;
    margin: 0px 10px 0px 10px;
    
}
.copyright-text a:hover {
    color: #aece61  ;
    
    
}
/* Social Icons */

.social-icons{
    
    margin: 0;
    padding: 0;
    font-size : 10px;
}

.social {
    margin:7px 7px 7px 0px;
    color:#fff;
}


#social-fb:hover {
     color: #3B5998;
     transition:all .25s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .25s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .25s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .25s;
 }
 
 .footer-four > img {
     width:80%;
 }
.index-content a:hover{
    color:black;
    text-decoration:none;
}
.index-content{
    margin-bottom:20px;
    padding:50px 0px;
    
}
.index-content .row{
    margin-top:20px;
}
.index-content a{
    color: black;
}
.index-content .card{
/*     background-image: url("/images/esaays.jpeg");
*/    padding:0;
     opacity: 0.8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
 }
.index-content .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
 }
.index-content .card img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.index-content .card h4{
         margin-top: 20px;
    font-size:18px;
    padding:20px 20px;
     font-weight: 200; 

        text-align: left;
    background-image: url("/images/esaays.jpeg");

}
.index-content .card p{
    margin:20px;
    opacity:0.7;
            text-align: left;

 }
.index-content .blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
     background-color: #ff7518;
    color: #ffffff; 
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
        /*color: #ffffff;
    background-color: #ff7518;
    border-color: #ff7518;*/
 
}
.blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
     background-color: #ff7518;
    color: #ffffff; 
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
        /*color: #ffffff;
    background-color: #ff7518;
    border-color: #ff7518;*/
 
}
.index-content .blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}
@media (max-width: 768px) {

    .index-content .col-lg-4 {
        margin-top: 20px;
    }
}

.panel-yellow {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-green {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-red {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.myclass { 
  
   display: block; 
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6.9em;
  line-height: 1.5em;
 
}


 


#H1_1 {
    color: rgba(0, 0, 0, 0.843137);
    height: 43px;
    letter-spacing: -0.63px;
    overflow-wrap: break-word;
    text-decoration: none solid rgba(0, 0, 0, 0.843137);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 702.625px;
    word-break: break-word;
    word-wrap: break-word;
    column-rule-color: rgba(0, 0, 0, 0.843137);
    perspective-origin: 351.312px 24px;
    transform-origin: 351.312px 24px;
    caret-color: rgba(0, 0, 0, 0.843137);
    border: 0px none rgba(0, 0, 0, 0.843137);
    font: normal normal 600 normal 42px / 43.68px medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    margin: 39px 0px 0px -2.63px;
    outline: rgba(0, 0, 0, 0.843137) none 0px;
    padding: 5px 0px 0px;
}/*#H1_1*/

#P_1 {
    color: rgba(0, 0, 0, 0.843137);
    height: 165px;
    letter-spacing: -0.063px;
    overflow-wrap: break-word;
    text-decoration: none solid rgba(0, 0, 0, 0.843137);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 700px;
    word-break: break-word;
    word-wrap: break-word;
    column-rule-color: rgba(0, 0, 0, 0.843137);
    perspective-origin: 350px 82.5px;
    transform-origin: 350px 82.5px;
    caret-color: rgba(0, 0, 0, 0.843137);
    border: 0px none rgba(0, 0, 0, 0.843137);
    font: normal normal normal normal 21px / 33.18px medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    margin: 10px 0px 0px;
    outline: rgba(0, 0, 0, 0.843137) none 0px;
}/*#P_1*/

#A_2, #A_3 {
    background-position: 0px 22.47px;
    color: rgba(0, 0, 0, 0.843137);
    letter-spacing: -0.063px;
    overflow-wrap: break-word;
    text-decoration: none solid rgba(0, 0, 0, 0.843137);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    word-wrap: break-word;
    column-rule-color: rgba(0, 0, 0, 0.843137);
    caret-color: rgba(0, 0, 0, 0.843137);
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.682353) 50%, rgba(0, 0, 0, 0) 50%) repeat-x scroll 0px 22.47px / 2px 2.1px padding-box border-box;
    border: 0px none rgba(0, 0, 0, 0.843137);
    font: normal normal normal normal 21px / 33.18px medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    outline: rgba(0, 0, 0, 0.843137) none 0px;
}/*#A_2, #A_3*/

.btn-wrap-text {
        white-space: normal !important;
        word-wrap: break-word !important;
    }

 












    .search-text{
   padding-bottom:5px;
}
    
.search-text .input-search{
    height:45px;
    width:40%;
    padding-left:20px;
    color:#333;
} 
  


.search-text .btn-search{
    background: #545454;
    font-family:Roboto;
    border:none;
    color:#FFF;
    height: 45px;
    width: 80px;
}

.search-text h4{
    color:#888582;
    font-weight: 700;
}

footer{
    background-color:#222222;
    padding: 30px 0px;
   padding-bottom:5px;


}

.footmod{
    
     padding-left:10px;
    color:#333;
} 

.footer-section p {
    line-height:26px;
    color : #fff;
}
 
.aboutSet{
     text-align: center;
}


.preamble {
    clear: right; 
    padding: 0px 10px 0 10px;
    font: 75% georgia, sans-serif;
    }


    .intro { 
    min-width: 470px;
    width: 100%;
    }


    .page-wrapper { 
    
    padding: 0 175px 0 110px;  
    margin: 0; 
    position: relative;
    }

    .h3 { 
    font: italic normal 1.4em georgia, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 0; 
    color: #7D775C;
    }
    .p { 
    margin-top: 0; 
    text-align: justify;
    }
   /* .pClassAu {
font-style: ABeeZee italic;


    }*/