<template name="HomePublic">
	{{> HomePublicJumbotron}}
	<div class="page-container container" id="content">
		

	 
		 
		{{> HomePublicSection4}}
	</div>
	{{> HomePublicPublicFooter}}
</template>

<template name="HomePublicJumbotron">
	<div class="jumbotron " style="background-image: url('/images/jumbotron-bg.jpg');">
		<div id="content" class="container">
			 
			{{> HomePublicJumbotronJumbotronContent}}
		</div>
	</div>
</template>

<template name="HomePublicJumbotronJumbotronContent">
	<p>Welcome to
	<h1  style="position: relative; top: -70px;">
		Open College Essays
	</h1>
	</p>
	 <p style="position: relative; top: -70px;">
Our goal is to build the world’s largest open source repository of college essays with your help!	</p> 
	<a href={{nextURL}} class="btn btn-lg btn-warning btn-wrap-text  "  style="position: relative; top: -50px;">
		Seniors, submit your essays and get a $50 gift card!
	</a>
</template>

<template name="HomePublicSection4" id="section4">
	<section style="position: relative; top: -70px;">
 			<div class="col-lg-12">
				 
					{{> HomePublicSection4AllEssaysHome}}
				 
 		</div>
	</section>
</template>

<template name="HomePublicSection4AllEssaysHome">
	<div class="col-md-12">
		<h1 id="section4" style="position: relative; top: -30px;">
			Recent Essays
		</h1>
	</div>
	<div class="index-content" style="position: relative; top: -50px;">
 			{{#each pendingEssayList}}
			<a href="#">
				<div class="col-lg-4">
					<div class="card">
						 
						<h4 class="myclass">
							{{title}}
						</h4>
						<p class="myclass">
							{{{Content}}}
						</p>
						<a href="readblog" class="blue-button">
							Read More..
						</a>
					</div>
				</div>
			</a>
			{{/each}}
 	</div>
</template>

<template name="HomePublicPublicFooter">
	<div class="footer-section" >
		<div class="footer">
			<div class="container">
				<div class="col-md-4 footer-one">
					<div class="foot-logo">
					</div>
					<p>
						Lorem ipsum dolor sit amet, per ei dicta movet ubique
					</p>
					<div class="social-icons">
						<a href="https://www.facebook.com/">
							<i id="social-fb" class="fa fa-facebook-square fa-3x social">
							</i>
						</a>
						<a href="https://twitter.com/">
							<i id="social-tw" class="fa fa-twitter-square fa-3x social">
							</i>
						</a>
						<a href="https://plus.google.com/">
							<i id="social-gp" class="fa fa-google-plus-square fa-3x social">
							</i>
						</a>
						<a href="mailto:bootsnipp@gmail.com">
							<i id="social-em" class="fa fa-envelope-square fa-3x social">
							</i>
						</a>
					</div>
				</div>
				<div class="col-md-2 footer-two">
					<h5>
						Quick Links
					</h5>
					<ul>
						<li>
							<a href="#">
								About Us
							</a>
						</li>
						<li>
							<a href="#">
								Our News
							</a>
						</li>
						<li>
							<a href="#">
								Our Services
							</a>
						</li>
						<li>
							<a href="#">
								Contact Us
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2 footer-three">
					<h5>
						Services
					</h5>
					<ul>
						<li>
							<a href="#">
								About Us
							</a>
						</li>
						<li>
							<a href="#">
								Our News
							</a>
						</li>
						<li>
							<a href="#">
								Our Services
							</a>
						</li>
						<li>
							<a href="#">
								Contact Us
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 footer-four">
					<h5>
						Contact Us
					</h5>
					<img src="http://iacademy.mikado-themes.com/wp-content/uploads/2017/05/footer-img-1.png">
				</div>
				<div class="clearfix">
				</div>
			</div>
		</div>
	</div>
</template>

