<template name="HomePublic">
	{{> HomePublicJumbotron}}
	<div class="page-container container" id="content">
		

	 
		 
		{{> HomePublicSection4}}
	</div>
	{{> HomePublicPublicFooter}}
</template>

<template name="HomePublicJumbotron">
	<div class="jumbotron " style="background-image: url('/images/jumbotron-bg.jpg');">
		<div id="content" class="container">
			 
			{{> HomePublicJumbotronJumbotronContent}}
		</div>
	</div>
</template>

<template name="HomePublicJumbotronJumbotronContent">
	<p>Welcome to
	<h1  style="position: relative; top: -70px;">
		Open College Essays
	</h1>
	</p>
	 <p style="position: relative; top: -70px;">
Our goal is to build the world’s largest open source repository of college essays with your help!	</p> 
	<a href={{nextURL}} class="btn btn-lg btn-warning btn-wrap-text  "  style="position: relative; top: -50px;">
		Seniors, submit your essays and get a $50 gift card!
	</a>
</template>

<template name="HomePublicSection4" id="section4">
	<section style="position: relative; top: -70px;">
 			<div class="col-lg-12">
				 
					{{> HomePublicSection4AllEssaysHome}}
				 
 		</div>
	</section>
</template>

<template name="HomePublicSection4AllEssaysHome">
	<div class="col-md-12">
		<h1 id="section4" style="position: relative; top: -30px;">
			Recent Essays
		</h1>
	</div>
	<div class="index-content" style="position: relative; top: -50px;">
 			{{#each pendingEssayList}}
			<a href="#">
				<div class="col-lg-4">
					<div class="card">
						 
						<h4 class="myclass">
							{{title}}
						</h4>
						<p class="myclass">
							{{{Content}}}
						</p>
						<a href="readblog" class="blue-button">
							Read More..
						</a>
					</div>
				</div>
			</a>
			{{/each}}
 	</div>
</template>

<template name="HomePublicPublicFooter">
 	<div class="footer-section">
		 <footer >
        
             <div class="container" align="right">
                <div class="row text-center">
                 {{#if formSubmitted }}
<div class="footer-text" align="center">
                       <p  >
Thanks for joining our mailing list!	</p>
</div>

                         {{else}} 

                   <div class="form" align="center">
                       <p  >
Join our mailing list and stay updated!	</p>
                        <form id="search-form" class="form-search form-horizontal">
                        	 
                            <input type="text" class="footmod" placeholder="Email Address">
                           <a id = "footer-button" href="" class="footer-button blue-button">
							Join!
						</a>
		
                        </form>
                    </div>

                    {{/if}}

                </div>   

                <div id="footer" class="sticky-footer" align="center">
		<div class="footer-container container">
			<p class="text-muted">
				About us
			</p>
		</div>
	</div>      
         </div>
        
       
      
    </footer>
    

	</div>
</template>

 
