

<template name="aboutUs">
  
  {{> aboutUs1}}

</template>

<template name="aboutUs1">
{{> essaysTop}}
<div class=" page-container container  ">

	<section   id="zen-intro">
		
			<h1 align="center">About Us</h1>
			

		
		<div class="col-md-12" i  role="article">
			
			<p  >You have worked really hard for the last four years. You have taken some really, hard courses. You have volunteered. You have worked during the summer. You have practiced every day for your high school sports team. You have taken part in extra-curricular activities.</p>
			<p>And yet all this is not enough for the college application process. Between June and December, besides doing all of the above, you are now required to write that fabulous college essay that truly expresses who you are. Remember the famous line preached by college admissions officers: Your essay should be such that if you were to drop it without your name on it in the school, someone else should be able to read it and tell that it belongs to you! In other words, you are now supposed to be an expert writer who should be able to express in 600 or so words everything that you have achieved without writing about them explicitly!
Our goal is to make that easy for you by providing a repository of thousands of essays (hopefully with your help and those that have gone through this painful process before you) so that this task becomes completely easy and give you a stress-less final year of college.</p>
			<p>We promise that we will never disclose your privacy information including your name or email and continue to grow this project in the most ethical manner possible.</p>
		</div>
	</section>
</div>

</template>

<template name="RegisterTerms">
{{> essaysTop}}
<div class=" page-container container  ">

	<section   id="zen-intro">
		
			<h1 align="center">Site terms</h1>
			

		
		<div class="col-md-12"   role="article">
			
			<p  >Open College Essays, the operator of this website, (the "Website"), cares about your privacy. This privacy policy details what information is collected and how it is used and applies to visits made through this Website.  By using or accessing the Website, you agree to our privacy practices outlined here.</p>
			<p>When you visit any page on the Website, we use standard web server log files to collect information on the efficiency and working of the Website. This information includes the number of times a web page is accessed, the browser used, paths taken when moving through the Website, and search terms entered by users. We keep this information for an indefinite time to improve the operation of the Website and to prepare anonymous data compilations regarding traffic on the Website.
</p>
<p>
When you sign up on Open College Essays student login, you provide us with your name and email.  
We will not share your Personal Information with anyone except as provided in this privacy policy.
</p>
			<p>We promise that we will never disclose your privacy information including your name or email and continue to grow this project in the most ethical manner possible.</p>
		</div>
	</section>
</div>

</template>

