<template name="DashboardPage">

	<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
<!-- {{wizardId}}
 -->

   <h2 id="component-title">
            
        </h2>

	<div class="page-container container"  >
		<div class="row" id="title_row">
			<div class="col-md-12">

				  {{#autoForm id="afInsertDemo"  schema="CombinedForm"  }}

				<!--    {{#each afFieldNames}}
    {{> afQuickField name=this.name options=afOptionsFromSchema}}
  {{/each}} -->

  <div class="form-group {{#if afFieldIsInvalid name='firstName'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='firstName'}}</label>
    {{> afFieldInput name='firstName'}}
    {{#if afFieldIsInvalid name='firstName'}}
    <span class="help-block">{{{afFieldMessage name='firstName'}}}</span>
    {{/if}}
  </div>
   <div class="form-group {{#if afFieldIsInvalid name='lastName'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='lastName'}}</label>
    {{> afFieldInput name='lastName'}}
    {{#if afFieldIsInvalid name='lastName'}}
    <span class="help-block">{{{afFieldMessage name='lastName'}}}</span>
    {{/if}}
  </div>
  <div class="form-group {{#if afFieldIsInvalid name='Email'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='Email'}}</label>
    {{> afFieldInput name='Email'}}
    {{#if afFieldIsInvalid name='Email'}}
    <span class="help-block">{{{afFieldMessage name='Email'}}}</span>
    {{/if}}
  </div>


 <div class="form-group {{#if afFieldIsInvalid name='EssayPrompt'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='EssayPrompt'}}</label>
    {{> afFieldInput name='EssayPrompt'}}
    {{#if afFieldIsInvalid name='EssayPrompt'}}
    <span class="help-block">{{{afFieldMessage name='EssayPrompt'}}}</span>
    {{/if}}
  </div>



 <div class="form-group {{#if afFieldIsInvalid name='CommonAppSchool'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='CommonAppSchool'}}</label>
    {{> afFieldInput name='CommonAppSchool'}}
    {{#if afFieldIsInvalid name='CommonAppSchool'}}
    <span class="help-block">{{{afFieldMessage name='CommonAppSchool'}}}</span>
    {{/if}}
  </div>


 <div class="form-group {{#if afFieldIsInvalid name='Essay'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='Essay'}}</label>
    {{> afFieldInput name='Essay'}}
    {{#if afFieldIsInvalid name='Essay'}}
    <span class="help-block">{{{afFieldMessage name='Essay'}}}</span>
    {{/if}}
  </div>
  <div class="form-group">
    <button type="submit"   class="btn btn-primary">Add Person</button>
    <button type="reset" class="btn btn-default">Reset Form</button>
  </div>
{{/autoForm}}



			</div>
		</div>
	</div>

	<!-- <table class="table table-striped">
		<thead>
			<tr>
				<th>UserName</th>
				<th>address</th>
				
			</tr>
		</thead>
		<tbody>
			{{#each books}}
				<tr style="color: {{color}};">
					<td>{{schoolNames}}</td>
					<td>{{whySchool}}</td>
										<td>{{message}}</td>

					
					<td><input type="button" class="btn btn-primary open-update-modal" value="Update" name="update"></td>
				
				</tr>
			{{/each}}
		</tbody>
	</table> -->
</template>


<template name="staffUpdate">
    <h2>Update Form</h2>

    {{> wizard id="staffUpdate" steps=steps stepsTemplate="steps_bootstrap3" clearOnDestroy=true buttonClasses="btn btn-primary"}}
</template>




<template name="addmore">

	<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
<!-- {{wizardId}}
 -->

   <h2 id="component-title">
            
        </h2>

	<div class="page-container container"  >
		<div class="row" id="title_row">
			<div class="col-md-12">

   
		 
		<div class="account-form">
			<h2>
				Would yo like to submit more Essay!!!
			</h2>
		</div>
		<div> 
		<a href="" class="btn btn-lg btn-warning animate a-pulse a-infinite"> Add more Essay
		</a>
		</div>

		<div> 
		<a href="register" class="btn btn-lg btn-warning animate a-pulse a-infinite"> Sign up
		</a>
		</div>


</div>
</div>
</div>
</template>