<template name="DashboardPage">


<!-- {{wizardId}}
 -->

       {{> essaysTop}}


	<div style="position: relative; top: 30px;" class=" page-container container"  >


	
		<div class="row" id="title_row">
			<div >

				  {{#autoForm id="afInsertDemo"  schema="CombinedForm"  }}

				<!--    {{#each afFieldNames}}
    {{> afQuickField name=this.name options=afOptionsFromSchema}}
  {{/each}} -->

  <div class="  col-md-6 form-group {{#if afFieldIsInvalid name='firstName'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='firstName'}}</label>
    {{> afFieldInput name='firstName'}}
    {{#if afFieldIsInvalid name='firstName'}}
    <span class="help-block">{{{afFieldMessage name='firstName'}}}</span>
    {{/if}}
  </div>
   <div class=" col-md-6  form-group {{#if afFieldIsInvalid name='lastName'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='lastName'}}</label>
    {{> afFieldInput name='lastName'}}
    {{#if afFieldIsInvalid name='lastName'}}
    <span class="help-block">{{{afFieldMessage name='lastName'}}}</span>
    {{/if}}
  </div>
  <div class=" col-md-6  form-group {{#if afFieldIsInvalid name='Email'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='Email'}}</label>
    {{> afFieldInput name='Email'}}
    {{#if afFieldIsInvalid name='Email'}}
    <span class="help-block">{{{afFieldMessage name='Email'}}}</span>
    {{/if}}
  </div>


 <div class="col-md-12  form-group {{#if afFieldIsInvalid name='title'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='title'}}</label>
    {{> afFieldInput name='title'}}
    {{#if afFieldIsInvalid name='title'}}
    <span class="help-block">{{{afFieldMessage name='title'}}}</span>
    {{/if}}
  </div>

 
<div class="col-md-12  form-group {{#if afFieldIsInvalid name='title'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='essayCategory'}}</label>
    {{> afFieldInput name='essayCategory' type="select-radio-inline"}}

     {{#if afFieldValueIs name="essayCategory" value="school"}}
     <div style="position: relative; left: -11px;" class="col-md-6  form-group  ">
    {{> afFieldInput name="schoolName"}}
      </div>

  {{/if}}

    {{#if afFieldIsInvalid name='essayCategory'}}
    <span class="help-block">{{{afFieldMessage name='essayCategory'}}}</span>
    {{/if}}
  </div>

     
<div class="col-md-12  form-group {{#if afFieldIsInvalid name='Content'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='Content'}}</label>
    {{> afFieldInput name='Content'}}
    {{#if afFieldIsInvalid name='Content'}}
    <span class="help-block">{{{afFieldMessage name='Content'}}}</span>
    {{/if}}
  </div>
  <div class=" col-md-12 form-group">
    <button type="submit"   class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
  </div>
{{/autoForm}}
 <div style="position: relative; top: 30px;" class=" col-md-12  ">
   &nbsp;
  </div>


			</div>
		</div>
	</div>

	<!-- <table class="table table-striped">
		<thead>
			<tr>
				<th>UserName</th>
				<th>address</th>
				
			</tr>
		</thead>
		<tbody>
			{{#each books}}
				<tr style="color: {{color}};">
					<td>{{schoolNames}}</td>
					<td>{{whySchool}}</td>
										<td>{{message}}</td>

					
					<td><input type="button" class="btn btn-primary open-update-modal" value="Update" name="update"></td>
				
				</tr>
			{{/each}}
		</tbody>
	</table> -->
</template>


<template name="staffUpdate">
    <h2>Update Form</h2>

    {{> wizard id="staffUpdate" steps=steps stepsTemplate="steps_bootstrap3" clearOnDestroy=true buttonClasses="btn btn-primary"}}
</template>




<template name="addmore">
   {{> essaysTop}}
	<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
<!-- {{wizardId}}
 -->

    

	<div class="page-container container"  >
		<div class="row" id="title_row">
			<div class="col-md-12">
<br/>

<h4>
  You have submitted  <a href="/submittedEssays"  >
    {{peopleEssayCount}}
  </a> essay(s). 
   
</h4>
          
          
		 
 		 
<h2>
      Do you have additional school specific essays to submit? 
      <br/>

      To receive the <b>$50</b> Gift card, please include: One common app essay and two school specific essays.
</h2>

 		<div> 
		<a href="/essays/insert" class="btn btn-primary"> Submit another Essay.
		</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="register" class="btn btn-primary"> Done.
		</a>
		</div>

		 
</div>
</div>
</div>
</template>

<template name="essaysTop">
 

  <div class="essaysTop-div" >
    <div id="content" class="container">
         <h2 id="component-title">
          {{essaysTopMsg}}
            
           
        </h2>
     </div>
     </div>

</template>




