<template name="submittedEssays">

    {{> essaysTop}}
    <div class="page-container container" id="content">
        <div class="row" id="title_row">
          <div class="col-md-12">
          </div>
        </div>
{{#if peopleEssayCount}} 
	<div id="essays-view" class="col-md-12">
		<h2 id="component-title">
			You have submitted below Essays :
		</h2>
    <div class="index-content index-content-relative"  >
      {{#each peopleEssayList}}
        <div class="col-lg-4">
         <div class="card">
            <div align="right" style="color:red">Status : {{approval}}&nbsp;</div>

           <h4  >
             {{title}}
           </h4>
           <p class="myclass">
              {{formattedContent}}
           </p>
          
         </div>
       </div>
      {{/each}}
  </div>		
  </div>
      {{/if}}


  <div class="col-md-12"    >
      <p>
              <div class="submit-div">
                <a href="{{backURL}}" id="form-close-button" class="btn btn-primary">
                  OK
                </a>
                 
                
             
      
                
                  
              </div>
              </p>
                </div>
</div>
 
</template>