<template name="NotVerifiedDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> NotVerifiedDetailsForm}}
	</div>
</template>

<template name="NotVerifiedDetailsForm">
	<div id="not-verified-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			People Details
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-first-name">
				<label for="firstName">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-first-name">
						{{people.firstName}}
					</p>
				</div>
			</div>
			<div class="form-group  field-last-name">
				<label for="lastName">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-last-name">
						{{people.lastName}}
					</p>
				</div>
			</div>
			<div class="form-group  field-email">
				<label for="email">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-email">
						{{people.email}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

